*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --colour-primary: #6c63ff;
    --colour-success:#00bf8e;
    --colour-warning:#f7c94b;
    --colour-danger:#f75842;
    --colour-danger-varient:rgba(247, 88, 66, 0.4);
    --colour-white:#fff;
    --colour-light:rgba(255,255,255,0.7);
    --colour-black:#000;
    --colour-bg:#1f2641;
    --colour-bg1:#2e3267;
    --colour-bg2:#424890;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --conatiner-width-sm: 94%;

    --transition: all 400ms ease;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--colour-white);
    background: var(--colour-bg)
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--colour-white);
}

ing{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    border-radius: 10px;
    display: inline-block;
    background: var(--colour-white);
    color: var(--colour-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);

}
.btn:hover{
    background: transparent;
    color: var(--colour-white);
    border-color:var(--colour-white);
}

.btn-primary{
    background: var(--colour-danger);
    color: var(--colour-white);
}


/*===  navbar  ====*/

nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

/*== navbar_scroll ==*/

.windows-scroll{
    background: #645ddf;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
nav button{
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav_menu a{
    font-size: 0.9rem;
    transition: var(--transition);

}
.nav_menu a:hover{
     color: var(--colour-bg2);


     /*=== HEADER===*/
}
header{
    position: relative;
    top: 5rem;
    overflow: hidden; 
    height: 70vh;
    margin-bottom: 5rem;
}
.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;

}
.header_left p{
    margin: 1rem 0 2.4rem;
}
.header_right-image img{
    height: 100%;
    width: 100%;
}

/*== courses==*/

.course_image img{
    height: 50%;
    width: 50%;
}
.course{
    margin-top: 5rem;
}

.courses_container {
    display: grid;
    grid-template-columns: repeat(1 1fr);
}

.course{
    background: var(--colour-bg1);
    text-align: center;
    margin-top: 2rem;
    border-radius: 10px;
    border: 1px solid transparent;
}


.course_info{
    padding: 1rem;
}

.course_info p{
    padding: .5rem;
    font-size: 0.9rem;
}
.course:hover{
    background: transparent;
    border-color: var(--colour-primary);
}